body{
    background: rgb(2, 3, 39);
    color: #fff;
    /* background-image: url("../images/EpicTrail.png"); */
    background-size: cover; /* Ensures it covers the entire page */
    background-position: center;
    background-repeat: no-repeat;
}

.body-content{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    height: 90px;
    width: 100%;
    position: fixed;
    border: 1px solid #fff;
    border-radius: 2px;

    .logo{
        float: left;
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 15px;

        .logo-name span{
            color: #ff0000;
        }
    }

    .nav-links{
        float: right;

        ul{
            display: flex;
            flex-direction: row;
            gap: 15px;
            padding: 20px;

            li{
                list-style-type: none;
                

                a{
                    cursor: pointer;
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 90px;

    .sidebar{
        height: 500px;
        width: 25%;
        border: 1px solid #fff;
        border-radius: 2px;
        background: none;

        a{
            color: #fff;
            text-decoration: none;
            padding: 30px;
        }
    }
    .main{
        border: 1px solid #fff;
        border-radius: 2px;
        background: none;
        flex-direction: column;
        width: 90%;
        gap: 20px;

        .counter{
            display: flex;
            flex-direction: row;
            gap: 20px;
            float: left;
            padding: 20px;

            .count-users, .count-bookings{
                height: 100px;
                width: 200px;
                border-radius: 2px;
                
            }
            .count-users{
                background-color: darkgoldenrod;
            }
            .count-bookings{
                background-color: cadetblue;
            }
        }
    }
}

/* TABLE STYLINGS */

.table{
    padding-top: 100px;
    padding: 20px;
}
.table table{
    width: 90%;
    padding: 20px;
    border-collapse: collapse;

    thead tr{
        background-color: teal;
        color: #fff;
        height: 40px;
        text-align: left;
        
        th{
            padding-left: 10px;
        }
    }
    tbody{
        border-collapse: collapse;

        td{
            font-weight: bold;
            padding: 10px;
            /* display: flex; */
            /* flex-direction: row; */
            gap: 10px;

            
            a{
                text-decoration: none;
                color: #fff;
            }
            .update{
                background-color: #00f;
            }
            .delete{
                background-color: #f00;
            }
                
        }
    }
}