<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete package</title>
</head>
<body>
    <h1>Confirm before you delete</h1>

    <form action="{% url 'delete_package' package.package_id %}" method="post">
        {% csrf_token %} 
        <input type="hidden" name="package_id" value="{{ package.package_id }}">
        <button type="submit">Delete this Package</button>
        <a href="{% url 'packages' %}">Cancel</a>
    </form>
</body>
</html>