<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete service</title>
</head>
<body>
    <h1>Confirm before you delete</h1>

    <form action="{% url 'delete_service' service.id %}" method="post">
        {% csrf_token %} 
        <input type="hidden" name="id" value="{{ service.id }}">
        <button type="submit">Delete this Service</button>
        <a href="{% url 'services' %}">Cancel</a>
    </form>
</body>
</html>