
{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packages</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
          <img src="" alt="Logo Img">
          <div class="logo-name">EPIC TRAIL  <span>ADVENTURES</span></div>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'activities' %}">Activities</a></li>
            <li><a href="{% url 'users' %}">Users</a></li>
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          </ul>
        </div>
      </div><br>
    <div class="content">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Package ID</th>
                        <th>Package Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for package in packages %}
                    <tr>
                        <td>{{ package.package_id }}</td>
                        <td>{{ package.package_name }}</td>
                        <td>{{ package.description }}</td>
                        <td>{{ package.price }}</td>
                        <td>
                            <a href="{% url 'update_package' package.package_id %}" class="update">Update</a>
                            <a href="{% url 'delete_package' package.package_id %}" class="delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div><br><br>
    <a href="{% url 'add_package' %}" class="adding">Add New Package</a><br><br><br><body>
</body>
</html>
