<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <style>
        .messages {
            list-style-type: none;
            padding: 10px;
            margin: 0;
        }
        .messages li {
            background-color: #FF4500; /* Orange-Red */
            color: white;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    </style>
  </head>
  <body>
    <div class="form-box">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">
                    <input type="text" name="username" placeholder="Enter Username">
                </label>
            </div><br>
            <div class="form-group">
                <label for="email">
                    <input type="email" name="email" placeholder="Enter Email">
                </label>
            </div><br>
            <div class="form-group">
                <label for="role">Select Your Role:</label>
                <select name="role" id="role">
                    <option value="admin">Admin</option>
                    <option value="instructor">Instructor</option>
                    <option value="waiter">Waiter</option>
                    <option value="user">User</option>
                </select>
            </div><br><br>
            
            <div class="form-group">
                <label for="password">
                    <input type="password" name="password" placeholder="Enter Password">
                </label>
            </div><br>
            <div class="form-group">
                <label for="passwolrd">
                    <input type="password" name="confirm-password" placeholder="Confirm Password">
                </label>
            </div><br>
            <button type="submit">Register</button><br><br>
            Already Have an Account? <a href="{% url 'login' %}">Login Here</a>
        </form>
    </div>
    
  </body>
</html>