
{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="logo">
          <img src="" alt="Logo Img">
          <div class="logo-name">EPIC TRAIL  <span>ADVENTURES</span></div>
        </div>
        <div class="nav-links">
          <ul>
            <li><a href="{% url 'users' %}">Users</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'activities' %}">Activities</a></li>
            <li><a href="{% url 'packages' %}">Packages</a></li>
            <li><a href="{% url 'admin_dashboard' %}">Dashboard</a></li>
          </ul>
        </div>
      </div><br>
    
    <div class="content">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Service_ID</th>
                        <th>Service_Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                    <tr>
                        <td>{{ service.id }}</td>
                        <td>{{ service.service_id }}</td>
                        <td>{{ service.service_name }}</td>
                        <td>
                            <a href="{% url 'update_service' service.id %}" class="update">Update</a>
                            <a href="{% url 'delete_service' service.id %}" class="delete">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div><br><br>
    <a href="{% url 'add_service' %}" class="adding">Add New Service</a><br><br><br>
</body>
</html>
